 #Home {
    background-color: #f2f2f2;
}
 #Dance {
    background-color: #6699FF;
}


h1 {
    font-size: 36px;

}

p {
    font-size: 24px;
    width: 760px;
    align-content: center;

}
.clearfix{
    overflow: auto;
}

section {
    width: 900px;
    background-color: #f2f2f2;

    border-style: solid;
    border-color: #797979;
    border-width: 1px;

    box-sizing: border-box;

    margin: 10px;
    padding-left: 70px;
    float: left;

}

main {
    width: 1920px;
    height: 100vh;
    box-sizing: border-box;
    padding: 40px;
    margin: 0px;

    background: url(/haarlem-festival/images/Dance%20BW.jpg);
    background-size: cover;

}

#test{
    background-color: #797979;
}

.nav-logo{
    width: 10%;
    height: 10%;
}

.page_section ul{
    display:inline-block;
}

.page_section ul li{
    display: inline-block;
    background-color: white;
    padding: 10px;
}

.nav-right{
    float: right;
}

