#sidebarLeft {
    background-color: rgba(14, 61, 89, 1);
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

#logo {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 200px;
    /* background: url(/Haarlem-Festival/Public/Images/HaarlemFestival-Logo-WT.svg) no-repeat top left;
    background-size: contain; */
}

#wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

#loggedInUserInfoWrapper {
    position: relative;
    margin: 50px 0;
    padding: 5px 0;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    height: auto;
    width: inherit;
}

#avatar {
    position: relative;
    margin: 0 5px;
    width: 50px;
}

.hRule {
    border-bottom: 1px solid #c9c9c9;
    position: relative;
    left: 0;
    /* top: 296px; */
    width: 200px;
    height: 0;
}

#u458_div {
    border-width: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#u458 {
    border-width: 0;
    position: absolute;
    left: 125px;
    top: 266px;
    width: 44px;
    height: 20px
}

#u458_div.mouseOver {
    border-width: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#u458_text {
    border-width: 0;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 40px;
    white-space: nowrap
}

#logoutBtn {
    display: inline;
}

#userName {
    font-size: 1.25rem;
    position: relative;
    font-style: normal;
    color: #fff;
    white-space: nowrap;
    display: inline;
    top: 0;
}